/nethunter-installer/update/data/app/*.apk
/nethunter-installer/update/supersu.zip
/nethunter-installer/tmp_out
/nethunter-installer/devices
/nethunter-installer/build-*.sh
/nethunter-installer/*.zip
/nethunter-fs/chroot/
/nethunter-fs/output/
/nethunter-fs/.dep_check
.DS_Store
